<nav>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/home">Home (avec /home)</a></li>
    <li><a routerLink="/demonstrations/demo01">Démo 01 - Interpolation</a></li>
    <li><a routerLink="/demonstrations/demo02">Démo 02 - Attribute Binding</a></li>
    <li><a routerLink="/demonstrations/demo03">Démo 03 - Event Binding</a></li>
    <li><a routerLink="/demonstrations/demo04">Démo 04 - Two-Way Binding</a></li>
    <li><a routerLink="/demonstrations/demo05">Démo 05 - Routing</a></li>
  </ul>
</nav>